[mysqld]
bind-address=0.0.0.0
# for CDC replication to be planned
binlog_format=ROW
character-set-server=utf8mb4
datadir=/var/lib/mysql
# use native password not recommended
default-authentication-plugin=mysql_native_password
default-time-zone='+00:00'
explicit_defaults_for_timestamp=true
# https://dev.mysql.com/doc/refman/5.6/ja/optimizing-innodb-diskio.html
# recommend size is 80% of available physical memory.
innodb_buffer_pool_size=6G
log-error=/var/log/mysql/error.log
long_query_time=3 # log the queries that spend over 3 seconds.
skip-ssl=1
slow_query_log=ON
slow_query_log_file=/var/log/mysql/slow_query.log
socket=/var/run/mysqld/mysqld.sock
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,STRICT_ALL_TABLES,ONLY_FULL_GROUP_BY
# default is REPEATABLE-READ
transaction-isolation=READ-COMMITTED
user=mysql

[mysqldump]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
